
.homepage__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 4rem;
}

.homepage__title{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 90%; 
    max-width: 575px; 
    border-radius: 10px; 
    margin-bottom: 1rem;
    padding: 1rem;
}

.homepage__title span{
    font-weight: 500;
    color: #fc8019;
    margin-bottom: 1rem;
}

.homepage__title img {
    height: 40px; /* Ajuste a altura conforme necessário */
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block; /* Exibir as imagens em linha */
  }

.homepage__title h1{
    font-family: "Poppins", sans-serif;
    font-size: 3.3rem;
    font-weight: 500;
    color: black;
    margin-bottom: 1rem;
}
.homepage__title p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-bottom: 1rem;
}


.div_img{
    display: flex;
    flex-direction: row; /* Adjusted to column layout for responsiveness */
    height: 90%;
    width:40rem; /* Adjusted width for responsiveness */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0rem; /* Added padding for spacing */
    border-radius: 10px;
}

.image_1{
    height: 60%;
    width: 40%; /* Adjusted width for responsiveness */
    object-fit: cover;
    border-radius: 10px;
}

.image_2{
    height: 45%;
    width: 50%; /* Adjusted width for responsiveness */
    object-fit: cover;
    border-radius: 10px;
}

.homepage h6 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
    margin-left: 5rem;
}