.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.login__container__logo {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 200px;
}

.login__container__form {
  display: flex;
  margin-top: 3rem;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  height: 30rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 30%;
  margin-left: 25rem;
  margin-top: 5rem;
  gap: 0.3rem;
}

.login__container__form h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.form input {
  border: 2px dashed  #fc8019;
  height: 2rem;
}

.form p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.form__button{
    background-color: #fc8019;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    margin-left: 25rem;
}

.form__button:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 200ms;
}

h4{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 25rem;
}

.register_btn{
    background-color: #fc8019;
    border: none;
    color: white;
    padding: 0.1rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
