/* Register.module.css */
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.register__container__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.register__container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.form_register p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0.25rem;
}

.form_register input {
    border: 2px dashed #fc8019;
    height: 2rem;
    width: 100%;
    padding: 0.25rem;
    border-radius: 5px;
}

.form__button_register {
    background-color: #fc8019;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: 0.3s;
}

.form__button_register:hover {
    transform: scale(0.9);
}

.register__container__form h1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 1rem;
}