/* Restaurante.module.css */

.Restaurantes_pratos {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.Restaurantes_pratos_title {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.item {
  background: #F8F8F8;
  margin: 0 5px; /* Reduzida a margem */
  border: 1px solid #ccc;
  padding: 16px;
  flex: 1;
  max-width: calc(33.33% - 10px); /* 3 itens por linha com margens */
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-5px); /* Reduzido o deslocamento no hover */
}

img {
  display: block; /* Alterado para "block" para centralizar melhor a imagem */
  width: 80%;
  height: auto; /* Ajustado o tamanho da imagem de acordo com a largura */
  margin: 0 auto;
}

h2{
  font-family: "Poppins", sans-serif;
  color: #000;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
}

p{
  font-family: "Poppins", sans-serif;
  color: #000;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}
