/* Restaurante.module.css */

.Restaurantes_pratos {
    display: flex;
    justify-content: center;


  }
  
  .Restaurantes_pratos_title {
    display: flex;
    flex-direction: column;

  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

  }
  
  .item {
    margin: 0 10px;
    border: 1px solid #ccc;
    padding: 16px;
    flex: 1;
    max-width: calc(25% - 20px); /* 4 itens por linha com margens */
    border-radius: 10px;
  }
  