/* Footer.module.css */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fc8019;
    height: 100%;
    width: 100%;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__container__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  transition: 0.3s;
}

.footer__container__logo:hover{
  cursor: pointer;
  scale: 0.95;
}

.footer__container__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 5rem;
  margin-top: 7rem;
  gap: 1rem;
}

.footer__container__links__list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;

}

.footer__container__links__list li{
  font-family: "Poppins", sans-serif;
  color: white;
  list-style: none;
  margin: 0 10px;
  transition: 0.3s;
}

.footer__container__links__list li:hover{
  cursor: pointer;
  color: #333;
  scale: 0.95;
}


.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10%;
  max-width: 200px;
  gap: 1rem;
}

.facebook{
  transition: 0.3s;
}

.facebook:hover{
  cursor: pointer;
  scale: 1.3;
}

.instagram{
  transition: 0.3s;
}

.instagram:hover{
  cursor: pointer;
  scale: 1.3;
}

.twitter{
  transition: 0.3s;
}

.twitter:hover{
  cursor: pointer;
  scale: 1.3;
}

.footer__contato h3{
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 200;
  transition: 0.3s;
}

.footer__contato h3:hover{
  scale: 0.95;
  color: #333;
}





