/* Footer.module.css */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  background-color: #fc8019;
}

.footer__container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

.footer__container__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.footer__container__links__list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.footer__container__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.footer__container__logo {
  margin-top: 2rem;
}

/* Media Queries */

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
  }

  .footer__container__links {
    flex-direction: row;
    gap: 2rem;
    margin: 0;
  }

  .h3 {
    margin: 0;
  }
}
